


.container {
    margin: auto;
    height: 250px;
    width: 100%;
    z-index: 1;
    background-image: url("../image/JobMe/gora.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 1000px;
}



.title {
    padding-top: 70px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
}

.button {
    margin: 40px 0px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: "Raleway", san-serif, serif;
    background-color: #222;
    padding: 10px 20px;
    border: 2px solid #222;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: .2s background-color ease;
    -o-transition: .2s background-color ease;
    transition: .2s background-color ease;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
button:hover, button:focus {
    color: #222;
    background-color: white;
}