

.mainBlock {
    height: 100vh;
}

.foto {
    z-index: 3;
    height: 100vh;
    width: auto;
    background-image: url("../image/home/home-banner-bg.jpg");
    object-position: center;
    object-fit: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    clip-path: polygon(0.00% 0.00%,100.00% 0.00%,100.00% 80.86%,15.74% 100%,0.00% 80.97%);
}

.foto:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 2;
    opacity: .4;
}

.container {
    position: relative;
    width: 1200px;
    z-index: 4;
    text-align: left;
    margin: auto;
    padding-left: 100px;
    padding-top: 230px;
    
}

h1 {
    position: relative;
    font-size: 88px;
    font-weight: 800;
    color: #fff;
    line-height: 0.8;

}

.text {
    position: relative;
    font-size: 24px;
    font-weight: 400;
    color: white;
    line-height: 0.5;
}

.text2 {
    position: relative;
    font-size: 24px;
    font-weight: 400;
    color: white;
    line-height: 0.5;
}

.specialized {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: white;
    line-height: 0.5;
}

