

.mainBlock {
    height: 100vh;
}

.foto {
    z-index: 3;
    height: 100vh;
    width: auto;
    background-image: url("../image/home/home-banner-bg.jpg");
    object-position: center;
    object-fit: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    clip-path: polygon(0.00% 0.00%,100.00% 0.00%,100.00% 80.86%,15.74% 100%,0.00% 80.97%);
}

.foto:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 2;
    opacity: .5;
}

.container {
    position: relative;
    width: 77%;
    z-index: 4;
    text-align: left;
    margin: auto;
    padding-top: 30vh;
}

h1 {
    position: relative;
    font-size: 85px;
    font-weight: 800;
    color: #fff;
    line-height: 0.8;

}

.text {
    position: relative;
    font-size: 24px;
    font-weight: 400;
    color: white;
    line-height: 0.5;
}

.text2 {
    position: relative;
    font-size: 24px;
    font-weight: 400;
    color: white;
    line-height: 0.5;
}

.specialized {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: white;
    line-height: 0.5;
}

.cursorBlink {
    font-weight:350;
    font-size:30px;
    color: white;
    width:7px;
    overflow:hidden;
    animation:blink 1s infinite
}
@keyframes blink{from,to{color:transparent}50%{color:white}}
@-moz-keyframes blink{from,to{color:transparent}50%{color:white}}
@-webkit-keyframes blink{from,to{color:transparent}50%{color:white}}
@-ms-keyframes blink{from,to{color:transparent}50%{color:white}}
@-o-keyframes blink{from,to{color:transparent}50%{color:white}}

