
.container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.skill {
    padding-top: 5vh;
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.image {
    width: 100px;
    margin: auto;
}

.name {
    margin: auto;

}