.nav {
    width: 350px;
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
}

.navLink {
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}